{%- from 'helpers/suka_config.html' import suka_config with context -%}
{%- from 'helpers/here.html' import here with context -%}

<script src="{{ suka_config.vendors.BUSUANZI }}" async></script>

<!-- Offset -->
{%- if suka_config.busuanzi.site_uv.OFFSET
  or suka_config.busuanzi.site_pv.OFFSET
  or (
    (here == 'page' or here == 'post')
    and entry.meta.busuanzi_offset is number
  )
%}
<script>
    var int = setInterval(fixCount, 50);
    function fixCount() {
        {%- if suka_config.busuanzi.site_uv.OFFSET %}
        var $$bsz_site_container_uv = document.getElementById('busuanzi_container_site_uv');
        var $$bsz_site_value_uv = document.getElementById('busuanzi_value_site_uv');
        var busuanziSiteUVOffset = parseInt('{{ suka_config.busuanzi.site_uv.OFFSET }}');
        if ($$bsz_site_container_uv.ownerDocument.defaultView.getComputedStyle($$bsz_site_container_uv, null).display === 'inline') {
            clearInterval(int);
            $$bsz_site_value_uv.innerHTML = parseInt($$bsz_site_value_uv.innerHTML) + busuanziSiteUVOffset;
        }
        {%- endif %}

        {%- if suka_config.busuanzi.site_pv.OFFSET %}
        var $$bsz_site_container_pv = document.getElementById('busuanzi_container_site_pv');
        var $$bsz_site_value_pv = document.getElementById('busuanzi_value_site_pv');
        var busuanziSitePVOffset = parseInt('{{ suka_config.busuanzi.site_pv.OFFSET }}');
        if ($$bsz_site_container_pv.ownerDocument.defaultView.getComputedStyle($$bsz_site_container_pv, null).display === 'inline') {
            clearInterval(int);
            $$bsz_site_value_pv.innerHTML = parseInt($$bsz_site_value_pv.innerHTML) + busuanziSitePVOffset;
        }
        {%- endif %}

        {%- if entry.meta.busuanzi_offset %}
            var $$bsz_post_container_pv = document.getElementById('busuanzi_container_page_pv');
            var $$bsz_post_value_pv = document.getElementById('busuanzi_value_page_pv');
            var busuanziPostPVOffset = parseInt('{{ entry.meta.busuanzi_offset }}');
            if ($$bsz_post_container_pv.ownerDocument.defaultView.getComputedStyle($$bsz_post_container_pv, null).display === 'inline') {
                clearInterval(int);
                $$bsz_post_value_pv.innerHTML = parseInt($$bsz_post_value_pv.innerHTML) + busuanziPostPVOffset;
            }
        {%- endif %}
    }
</script>
{%- endif %}