{%- from 'helpers/config.html' import suka_config with context %}

{%- if suka_config.analytics.GOOGLE_SITE_ID %}
  {%- include '_plugin/analytics/google' %}
{%- endif %}

{%- if suka_config.analytics.GTAGS_SITE_ID %}
  {%- include '_plugin/analytics/gtags' %}
{%- endif %}

{%- if suka_config.analytics.BAIDU_SITE_ID %}
  {%- include '_plugin/analytics/baidu' %}
{%- endif %}

{%- if suka_config.analytics.CNZZ_SITE_ID %}
  {%- include '_plugin/analytics/cnzz' %}
{%- endif %}

{%- if suka_config.analytics.TENCENT_SITE_ID %}
  {%- include '_plugin/analytics/tencent' %}
{%- endif %}

{%- if suka_config.analytics.TENCENT_MTA_ID %}
  {%- include '_plugin/analytics/tencent-mta' %}
{%- endif %}