{%- from 'helpers/suka_config.html' import suka_config with context %}

<!-- busuanzi -->
{%- if suka_config.busuanzi.ENABLE %}
  <link rel="dns-prefetch" href="//busuanzi.ibruce.info">
{%- endif %}

<!-- comment -->
{%- if suka_config.comment.USE == 'disqus' %}
  <link rel="dns-prefetch" href="//disqus.com">
  <link rel="dns-prefetch" href="//{{suka_config.comment.DISQUS_SHORT_NAME}}.disqus.com">
{%- endif %}
{%- if suka_config.comment.USE == 'changyan' %}
  <link rel="dns-prefetch" href="//changyan.sohu.com">
{%- endif %}
{%- if suka_config.comment.USE == 'gitalk' %}
  <link rel="dns-prefetch" href="//api.github.com">
  <link rel="dns-prefetch" href="//cors-anywhere.herokuapp.com">
{%- endif %}
{%- if suka_config.comment.USE == 'gitment' %}
  <link rel="dns-prefetch" href="//imsun.github.io">
  <link rel="dns-prefetch" href="//api.github.com">
{%- endif %}
{%- if suka_config.comment.USE == 'livere' %}
  <link rel="dns-prefetch" href="//cdn-city.livere.com">
{%- endif %}
{%- if suka_config.comment.USE == 'valine' %}
  <link rel="dns-prefetch" href="//cdn1.lncld.net">
{%- endif %}

<!-- analytics -->
{%- if suka_config.analytics.BAIDU_SITE_ID %}
  <link rel="dns-prefetch" href="//hm.baidu.com">
{%- endif %}
{%- if suka_config.analytics.GOOGLE_SITE_ID %}
  <link rel="dns-prefetch" href="//www.google-analytics.com">
{%- endif %}
{%- if suka_config.analytics.GTAGS_SITE_ID %}
  <link rel="dns-prefetch" href="//www.googletagmanager.com">
  <link rel="dns-prefetch" href="//www.google-analytics.com">
{%- endif %}
{%- if suka_config.analytics.CNZZ_SITE_ID %}
  <link rel="dns-prefetch" href="//s95.cnzz.com">
{%- endif %}
{%- if suka_config.analytics.TENCENT_SITE_ID %}
  <link rel="dns-prefetch" href="//tajs.qq.com">
{%- endif %}
{%- if suka_config.analytics.TENCENT_MTA_ID %}
  <link rel="dns-prefetch" href="//pingjs.qq.com">
{%- endif %}
