{%- from 'helpers/config.html' import suka_config with context -%}
{%- from 'helpers/here.html' import here with context -%}
{%- from 'helpers/url.html' import full_url_for, home_url with context -%}
{%- from 'helpers/suka_tags.html' import suka_tags with context -%}
{%- from 'helpers/suka_desc.html' import suka_desc with context -%}
{%- from 'helpers/suka_title.html' import suka_title with context -%}
{%- from 'helpers/suka_icon.html' import suka_icon with context -%}
{%- from 'helpers/suka_meta.html' import suka_thumb with context -%}

{%- if here == 'home' %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Blog",
    "author": {
        "@type": "Person",
        "name": "{{ site.author }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ full_url_for(suka_config.AVATAR) }}"
        },
        "description": "{{ suka_config.uiux.SLOGAN }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ suka_icon }}"
        }
    },
    "url": "{{ home_url }}",
    "logo": "{{ suka_icon }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ suka_icon }}"
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ home_url }}"
    },
    {%- if suka_config.search.USE == 'local' or suka_config.nav.search.LINK %}
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ full_url_for(suka_config.nav.search.LINK) }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
    },
    {%- endif %}
    "keywords": "{{ suka_tags|join(',') }}",
    "description": "{{ suka_desc }}"
}
</script>
{%- endif %}

{%- if here == 'post' %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "url": "{{ entry.url }}",
    "@type": "BlogPosting",
    "logo": "{{ suka_icon }}",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ entry.url }}"
    },
    "headline": "{{ suka_title }}{{ site.title }}",
    {%- if suka_thumb(entry) %}
    "image": {
        "@type": "ImageObject",
        "url": "{{ full_url_for(suka_thumb(entry)) }}"
    },
    {%- else %}
    "image": {
        "@type": "ImageObject",
        "url": "{{ suka_icon }}"
    },
    {%- endif %}
    "datePublished": "{{ entry.created.isoformat() }}",
    "dateModified": "{{ entry.updated.isoformat() }}",
    "author": {
        "@type": "Person",
        "name": "{{ site.author }}",
        "image": {
            "@type": "ImageObject",
            "url": "{{ full_url_for(suka_config.AVATAR) }}"
        },
        "description": "{{ suka_config.uiux.SLOGAN }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ suka_icon }}"
        }
    },
    {%- if suka_config.search.USE == 'local' or suka_config.nav.search.LINK %}
    "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ full_url_for(suka_config.nav.search.LINK) }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
    },
    {%- endif %}
    "keywords": "{{ suka_tags|join(',') }}",
    "description": "{{ suka_desc }}"
}
</script>
{%- endif %}
