{%- from 'helpers/config.html' import suka_config with context %}

<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="{{ site.title }}">
<meta name="msapplication-starturl" content="{{ suka_config.INDEX_URL }}">
{%- if suka_config.head.COLOR %}
    <meta name="msapplication-navbutton-color" content="{{ suka_config.head.COLOR }}">
{%- endif %}
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!-- Manifest Import -->
{% if suka_config.head.PWA_MANIFEST %}
    <link rel="manifest" href="{{ suka_config.head.PWA_MANIFEST }}">
{%- endif %}
<!-- Open Search -->
{% if suka_config.head.OPEN_SEARCH %}
    <link rel="search" type="application/opensearchdescription+xml" href="{{ suka_config.head.OPEN_SEARCH }}" title="{{ site.title }}">
{%- endif %}