{%- from 'helpers/suka_config.html' import suka_config with context -%}
{%- from 'helpers/list_categories.html' import list_categories %}

{%- if entry.title %}
  <h1 class="card-title h3 mb-2">{{ entry.title }}</h1>
{%- endif %}
<div class="post-header-info">
  <p class="post-header-info-left text-gray">
    {%- include '_partial/avatar.html' %}
      <span>{{ entry.created.strftime(suka_config.DATE_FORMAT) }}</span>
        {%- if entry.categories %}
            <span class="suka-devide-dot"></span>
            {{ list_categories(entry.categories) }}
        {%- endif %}
        {%- if suka_config.busuanzi.ENABLE and suka_config.busuanzi.post_pv.ENABLE %}
          {%- include '_plugin/busuanzi/post-counter.html' %}
        {%- endif %}
        {%- if suka_config.valine_counter.ENABLE and suka_config.valine_counter.post_pv.ENABLE %}
          {%- include '_plugin/valine-counter/post.html' %}
        {%- endif %}
    </p>
    <div class="post-header-info-right">
        {%- if suka_config.post.SHARE %}
          {%- include '_partial/menu/post-share.html' %}
        {%- endif %}
    </div>
</div>