{# Constants #}
{%- set SUPPORTED_COMMENT_PLUGINS = [
  'disqus',
  'disqusjs',
  'changyan',
  'gitalk',
  'gitment',
  'livere',
  'valine'
] %}

{# Namespaces #}
{%- set suka_config = namespace() %}
{%- set suka_config.analytics = namespace() %}
{%- set suka_config.busuanzi = namespace() %}
{%- set suka_config.comment = namespace() %}
{%- set suka_config.hanabi = namespace() %}
{%- set suka_config.head = namespace() %}
{%- set suka_config.uiux = namespace() %}
{%- set suka_config.vendors = namespace() %}

{# Aliases #}
{%- set suka_analytics = suka_config.analytics %}
{%- set suka_busuanzi = suka_config.busuanzi %}
{%- set suka_comment = suka_config.comment %}
{%- set suka_hanabi = suka_config.hanabi %}
{%- set suka_head = suka_config.head %}
{%- set suka_uiux = suka_config.uiux %}
{%- set suka_vendors = suka_config.vendors %}

{# Sub-Namespaces #}
{%- set suka_vendors.suka = namespace() %}
{%- set suka_head.site_verification = namespace() %}

{# Sub-Aliases #}
{%- set suka_vendors_suka = suka_vendors.suka %}
{%- set suka_head_site_verification = suka_head.site_verification %}

{# Index URL #}
{%- set suka_config.INDEX_URL = url_for('.index') %}

{# Keywords #}
{%- set suka_config.KEYWORDS = config.SUKA_KEYWORDS or config.KEYWORDS or [] %}

{# Comment.USE #}
{%- set suka_comment.USE = config.SUKA_COMMENT_USE
  if
    config.SUKA_COMMENT_USE in SUPPORTED_COMMENT_PLUGINS
  else
    'disqus'
  if
    config.DISQUS_ENABLED
  else
    None
%}
{# Comment.DISQUS_SHORT_NAME #}
{%- set suka_comment.DISQUS_SHORT_NAME = config.SUKA_COMMENT_DISQUS_SHORT_NAME
  if
    config.SUKA_COMMENT_DISQUS_SHORT_NAME is string
  else
    config.DISQUS_SHORT_NAME
  if
    config.DISQUS_SHORT_NAME is string
  else
    None
%}

{# POST_ENTRY_EXCERPT #}
{%- set suka_config.POST_ENTRY_EXCERPT = config.SUKA_POST_ENTRY_EXCERPT
  if
    config.SUKA_POST_ENTRY_EXCERPT is number
  else
    120
%}

{# READ_MORE #}
{%- set suka_config.READ_MORE = config.SUKA_READ_MORE
  if
    config.SUKA_READ_MORE is string
  else
    'Read more'
%}

{# AVATAR #}
{%- set suka_config.AVATAR = config.SUKA_AVATAR
  if
    config.SUKA_AVATAR is string
  else
    '/static/img/default_avatar.png'
%}

{# DATE_FORMAT #}
{%- set suka_config.DATE_FORMAT = config.SUKA_DATE_FORMAT
  if
    config.SUKA_DATE_FORMAT is string
  else
    '%Y-%m-%d'
%}

{# uiux.BG_COLOR #}
{%- set suka_uiux.BG_COLOR = config.SUKA_UIUX_BG_COLOR
  if
    config.SUKA_UIUX_BG_COLOR is string
  else
    None
%}

{# uiux.LINK_COLOR #}
{%- set suka_uiux.LINK_COLOR = config.SUKA_UIUX_LINK_COLOR
  if
    config.SUKA_UIUX_LINK_COLOR is string
  else
    None
%}

 {# uiux.PRIMARY_COLOR #}
{%- set suka_uiux.PRIMARY_COLOR = config.SUKA_UIUX_PRIMARY_COLOR
  if
    config.SUKA_UIUX_PRIMARY_COLOR is string
  else
    None
%}

 {# busuanzi.ENABLE #}
{%- set suka_busuanzi.ENABLE = config.SUKA_BUSUANZI_ENABLE
  if
    config.SUKA_BUSUANZI_ENABLE
  else
    False
%}

 {# hanabi.ENABLE #}
{%- set suka_hanabi.ENABLE = config.SUKA_HANABI_ENABLE
  if
    config.SUKA_HANABI_ENABLE
  else
    False
%}

{# analytics.BAIDU_SITE_ID #}
{%- set suka_analytics.BAIDU_SITE_ID = config.SUKA_ANALYTICS_BAIDU_SITE_ID
  if
    config.SUKA_ANALYTICS_BAIDU_SITE_ID is string
  else
    None
%}

{# analytics.GOOGLE_SITE_ID #}
{%- set suka_analytics.GOOGLE_SITE_ID = config.SUKA_ANALYTICS_GOOGLE_SITE_ID
  if
    config.SUKA_ANALYTICS_GOOGLE_SITE_ID is string
  else
    None
%}

{# analytics.GTAGS_SITE_ID #}
{%- set suka_analytics.GTAGS_SITE_ID = config.SUKA_ANALYTICS_GTAGS_SITE_ID
  if
    config.SUKA_ANALYTICS_GTAGS_SITE_ID is string
  else
    None
%}

{# analytics.CNZZ_SITE_ID #}
{%- set suka_analytics.CNZZ_SITE_ID = config.SUKA_ANALYTICS_CNZZ_SITE_ID
  if
    config.SUKA_ANALYTICS_CNZZ_SITE_ID is string
  else
    None
%}

{# analytics.TENCENT_SITE_ID #}
{%- set suka_analytics.TENCENT_SITE_ID = config.SUKA_ANALYTICS_TENCENT_SITE_ID
  if
    config.SUKA_ANALYTICS_TENCENT_SITE_ID is string
  else
    None
%}

{# analytics.TENCENT_MTA_ID #}
{%- set suka_analytics.TENCENT_MTA_ID = config.SUKA_ANALYTICS_TENCENT_MTA_ID
  if
    config.SUKA_ANALYTICS_TENCENT_MTA_ID is string
  else
    None
%}

{# head.site_verification.GOOGLE #}
{%- set suka_head_site_verification.GOOGLE = config.SUKA_HEAD_SITE_VERIFICATION_GOOGLE
  if
    config.SUKA_HEAD_SITE_VERIFICATION_GOOGLE is string
  else
    None
%}

{# head.site_verification.BAIDU #}
{%- set suka_head_site_verification.BAIDU = config.SUKA_HEAD_SITE_VERIFICATION_BAIDU
  if
    config.SUKA_HEAD_SITE_VERIFICATION_BAIDU is string
  else
    None
%}

{# head.COLOR #}
{%- set suka_head.COLOR = config.SUKA_HEAD_COLOR
  if
    config.SUKA_HEAD_COLOR is string
  else
    None
%}

{# head.PWA_MANIFEST #}
{%- set suka_head.PWA_MANIFEST = config.SUKA_HEAD_PWA_MANIFEST
  if
    config.SUKA_HEAD_PWA_MANIFEST is string
  else
    None
%}

{# head.OPEN_SEARCH #}
{%- set suka_head.OPEN_SEARCH = config.SUKA_HEAD_OPEN_SEARCH
  if
    config.SUKA_HEAD_OPEN_SEARCH is string
  else
    None
%}

{# vendors.BUSUANZI #}
{%- set suka_vendors.BUSUANZI = config.SUKA_VENDORS_BUSUANZI
  if
    config.SUKA_VENDORS_BUSUANZI is string
  else
    'https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js'
%}

{# vendors.HANABI #}
{%- set suka_vendors.HANABI = config.SUKA_VENDORS_HANABI
  if
    config.SUKA_VENDORS_HANABI is string
  else
    url_for('static', filename='lib/hanabi/hanabi.min.js')
%}

{# vendors.suka.HANABI_BROWSER_JS #}
{%- set suka_vendors_suka.HANABI_BROWSER_JS = config.SUKA_VENDORS_SUKA_HANABI_BROWSER_JS
  if
    config.SUKA_VENDORS_SUKA_HANABI_BROWSER_JS is string
  else
    url_for('static', filename='js/hanabi-browser.min.js')
%}
