{%- from 'helpers/config.html' import suka_config with context -%}

{%- set suka_icon = url_for('static', filename=suka_config.head.favicon.LARGE)
  if
    suka_config.head.favicon.LARGE is string
  else
    url_for('static', filename=suka_config.head.favicon.APPLE_TOUCH_ICON)
  if
    suka_config.head.favicon.APPLE_TOUCH_ICON is string
  else
    url_for('static', filename=suka_config.head.favicon.MEDIUM)
  if
    suka_config.head.favicon.MEDIUM is string
  else
    url_for('static', filename=suka_config.head.favicon.SMALL)
  if
    suka_config.head.favicon.SMALL is string
  else
    url_for('static', filename=suka_config.head.favicon.ICO)
  if
    suka_config.head.favicon.ICO is string
  else
    url_for('static', filename='img/suka-favicon.png')
-%}
