{# Constants #}
{%- set SUPPORTED_COMMENT_PLUGINS = [
  'changyan',
  'disqus',
  'disqusjs',
  'facebook',
  'gitalk',
  'gitment',
  'livere',
  'valine'
] -%}
{%- set SUPPORTED_SEARCH = [
  'local',
  'google',
  'swiftype'
] -%}

{# Namespaces #}
{%- set suka_config = namespace() -%}
{%- set suka_config.analytics = namespace() -%}
{%- set suka_config.busuanzi = namespace() -%}
{%- set suka_config.comment = namespace() -%}
{%- set suka_config.footer = namespace() -%}
{%- set suka_config.hanabi = namespace() -%}
{%- set suka_config.head = namespace() -%}
{%- set suka_config.nav = namespace() -%}
{%- set suka_config.post = namespace() -%}
{%- set suka_config.prettify = namespace() -%}
{%- set suka_config.qrcode = namespace() -%}
{%- set suka_config.search = namespace() -%}
{%- set suka_config.sns_share = namespace() -%}
{%- set suka_config.uiux = namespace() -%}
{%- set suka_config.valine_counter = namespace() -%}
{%- set suka_config.vendors = namespace() -%}

{# Aliases #}
{%- set suka_analytics = suka_config.analytics -%}
{%- set suka_busuanzi = suka_config.busuanzi -%}
{%- set suka_comment = suka_config.comment -%}
{%- set suka_footer = suka_config.footer -%}
{%- set suka_hanabi = suka_config.hanabi -%}
{%- set suka_head = suka_config.head -%}
{%- set suka_nav = suka_config.nav -%}
{%- set suka_post = suka_config.post -%}
{%- set suka_prettify = suka_config.prettify -%}
{%- set suka_qrcode = suka_config.qrcode -%}
{%- set suka_search = suka_config.search -%}
{%- set suka_sns_share = suka_config.sns_share -%}
{%- set suka_uiux = suka_config.uiux -%}
{%- set suka_valine_counter = suka_config.valine_counter -%}
{%- set suka_vendors = suka_config.vendors -%}

{# Sub-Namespaces #}
{%- set suka_busuanzi.post_pv = namespace() -%}
{%- set suka_busuanzi.site_pv = namespace() -%}
{%- set suka_busuanzi.site_uv = namespace() -%}
{%- set suka_comment.changyan = namespace() -%}
{%- set suka_comment.disqusjs = namespace() -%}
{%- set suka_comment.facebook = namespace() -%}
{%- set suka_comment.gitalk = namespace() -%}
{%- set suka_comment.gitment = namespace() -%}
{%- set suka_comment.livere = namespace() -%}
{%- set suka_comment.valine = namespace() -%}
{%- set suka_head.favicon = namespace() -%}
{%- set suka_head.site_verification = namespace() -%}
{%- set suka_nav.home = namespace() -%}
{%- set suka_nav.search = namespace() -%}
{%- set suka_nav.archives = namespace() -%}
{%- set suka_nav.share = namespace() -%}
{%- set suka_nav.rss = namespace() -%}
{%- set suka_valine_counter.index_post_pv = namespace() -%}
{%- set suka_valine_counter.post_pv = namespace() -%}
{%- set suka_valine_counter.site_pv = namespace() -%}
{%- set suka_vendors.suka = namespace() -%}

{# Sub-Aliases #}
{%- set suka_busuanzi_post_pv = suka_busuanzi.post_pv -%}
{%- set suka_busuanzi_site_pv = suka_busuanzi.site_pv -%}
{%- set suka_busuanzi_site_uv = suka_busuanzi.site_uv -%}
{%- set suka_comment_changyan = suka_comment.changyan -%}
{%- set suka_comment_disqusjs = suka_comment.disqusjs -%}
{%- set suka_comment_facebook = suka_comment.facebook -%}
{%- set suka_comment_gitalk = suka_comment.gitalk -%}
{%- set suka_comment_gitment = suka_comment.gitment -%}
{%- set suka_comment_livere = suka_comment.livere -%}
{%- set suka_comment_valine = suka_comment.valine -%}
{%- set suka_head_favicon = suka_head.favicon -%}
{%- set suka_head_site_verification = suka_head.site_verification -%}
{%- set suka_nav_home = suka_nav.home -%}
{%- set suka_nav_search = suka_nav.search -%}
{%- set suka_nav_archives = suka_nav.archives -%}
{%- set suka_nav_share = suka_nav.share -%}
{%- set suka_nav_rss = suka_nav.rss -%}
{%- set suka_valine_counter_index_post_pv = suka_valine_counter.index_post_pv -%}
{%- set suka_valine_counter_post_pv = suka_valine_counter.post_pv -%}
{%- set suka_valine_counter_site_pv = suka_valine_counter.site_pv -%}
{%- set suka_vendors_suka = suka_vendors.suka -%}

{# Keywords #}
{%- set suka_config.KEYWORDS = config.SUKA_KEYWORDS or config.KEYWORDS or [] -%}

{# comment.USE #}
{%- set suka_comment.USE = config.SUKA_COMMENT_USE
  if
    config.SUKA_COMMENT_USE in SUPPORTED_COMMENT_PLUGINS
  else
    'disqus'
  if
    config.DISQUS_ENABLED
  else
    None
-%}
{# comment.DISQUS_SHORT_NAME #}
{%- set suka_comment.DISQUS_SHORT_NAME = config.SUKA_COMMENT_DISQUS_SHORT_NAME
  if
    config.SUKA_COMMENT_DISQUS_SHORT_NAME is string
  else
    config.DISQUS_SHORT_NAME
  if
    config.DISQUS_SHORT_NAME is string
  else
    None
-%}

{# comment.facebook.ADMIN_FB_APPID #}
{%- set suka_comment_facebook.ADMIN_FB_APPID = config.SUKA_COMMENT_FACEBOOK_ADMIN_FB_APPID
  if
    config.SUKA_COMMENT_FACEBOOK_ADMIN_FB_APPID is string
  else
    None
-%}

{# comment.facebook.ADMIN_FB_USERNAME #}
{%- set suka_comment_facebook.ADMIN_FB_USERNAME = config.SUKA_COMMENT_FACEBOOK_ADMIN_FB_USERNAME
  if
    config.SUKA_COMMENT_FACEBOOK_ADMIN_FB_USERNAME is string
  else
    None
-%}

{# comment.facebook.NUM_POSTS #}
{%- set suka_comment_facebook.NUM_POSTS = config.SUKA_COMMENT_FACEBOOK_NUM_POSTS
  if
    config.SUKA_COMMENT_FACEBOOK_NUM_POSTS is string
  else
    None
-%}

{# comment.facebook.COLOR_SCHEME #}
{%- set suka_comment_facebook.COLOR_SCHEME = config.SUKA_COMMENT_FACEBOOK_COLOR_SCHEME
  if
    config.SUKA_COMMENT_FACEBOOK_COLOR_SCHEME is string
  else
    None
-%}

{# comment.facebook.ORDER_BY #}
{%- set suka_comment_facebook.ORDER_BY = config.SUKA_COMMENT_FACEBOOK_ORDER_BY
  if
    config.SUKA_COMMENT_FACEBOOK_ORDER_BY is string
  else
    None
-%}

{# comment.gitalk.CLIENT_ID #}
{%- set suka_comment_gitalk.CLIENT_ID = config.SUKA_COMMENT_GITALK_CLIENT_ID
  if
    config.SUKA_COMMENT_GITALK_CLIENT_ID is string
  else
    None
-%}

{# comment.gitalk.CLIENT_SECRET #}
{%- set suka_comment_gitalk.CLIENT_SECRET = config.SUKA_COMMENT_GITALK_CLIENT_SECRET
  if
    config.SUKA_COMMENT_GITALK_CLIENT_SECRET is string
  else
    None
-%}

{# comment.gitalk.REPO #}
{%- set suka_comment_gitalk.REPO = config.SUKA_COMMENT_GITALK_REPO
  if
    config.SUKA_COMMENT_GITALK_REPO is string
  else
    None
-%}

{# comment.gitalk.OWNER #}
{%- set suka_comment_gitalk.OWNER = config.SUKA_COMMENT_GITALK_OWNER
  if
    config.SUKA_COMMENT_GITALK_OWNER is string
  else
    None
-%}

{# comment.gitment.CLIENT_ID #}
{%- set suka_comment_gitment.CLIENT_ID = config.SUKA_COMMENT_GITMENT_CLIENT_ID
  if
    config.SUKA_COMMENT_GITMENT_CLIENT_ID is string
  else
    None
-%}

{# comment.gitment.CLIENT_SECRET #}
{%- set suka_comment_gitment.CLIENT_SECRET = config.SUKA_COMMENT_GITMENT_CLIENT_SECRET
  if
    config.SUKA_COMMENT_GITMENT_CLIENT_SECRET is string
  else
    None
-%}

{# comment.gitment.REPO #}
{%- set suka_comment_gitment.REPO = config.SUKA_COMMENT_GITMENT_REPO
  if
    config.SUKA_COMMENT_GITMENT_REPO is string
  else
    None
-%}

{# comment.gitment.OWNER #}
{%- set suka_comment_gitment.OWNER = config.SUKA_COMMENT_GITMENT_OWNER
  if
    config.SUKA_COMMENT_GITMENT_OWNER is string
  else
    None
-%}

{# comment.changyan.APPID #}
{%- set suka_comment_changyan.APPID = config.SUKA_COMMENT_CHANGYAN_APPID
  if
    config.SUKA_COMMENT_CHANGYAN_APPID is string
  else
    None
-%}

{# comment.changyan.CONF #}
{%- set suka_comment_changyan.CONF = config.SUKA_COMMENT_CHANGYAN_CONF
  if
    config.SUKA_COMMENT_CHANGYAN_CONF is string
  else
    None
-%}

{# comment.disqusjs.SHORTNAME #}
{%- set suka_comment_disqusjs.SHORTNAME = config.SUKA_COMMENT_DISQUSJS_SHORTNAME
  if
    config.SUKA_COMMENT_DISQUSJS_SHORTNAME is string
  else
    None
-%}

{# comment.disqusjs.SITENAME #}
{%- set suka_comment_disqusjs.SITENAME = config.SUKA_COMMENT_DISQUSJS_SITENAME
  if
    config.SUKA_COMMENT_DISQUSJS_SITENAME is string
  else
    None
-%}

{# comment.disqusjs.API #}
{%- set suka_comment_disqusjs.API = config.SUKA_COMMENT_DISQUSJS_API
  if
    config.SUKA_COMMENT_DISQUSJS_API is string
  else
    None
-%}

{# comment.disqusjs.APIKEY #}
{%- set suka_comment_disqusjs.APIKEY = config.SUKA_COMMENT_DISQUSJS_APIKEY
  if
    config.SUKA_COMMENT_DISQUSJS_APIKEY is string
  else
    None
-%}

{# comment.disqusjs.ADMIN #}
{%- set suka_comment_disqusjs.ADMIN = config.SUKA_COMMENT_DISQUSJS_ADMIN
  if
    config.SUKA_COMMENT_DISQUSJS_ADMIN is string
  else
    None
-%}

{# comment.disqusjs.ADMIN_LABEL #}
{%- set suka_comment_disqusjs.ADMIN_LABEL = config.SUKA_COMMENT_DISQUSJS_ADMIN_LABEL
  if
    config.SUKA_COMMENT_DISQUSJS_ADMIN_LABEL is string
  else
    None
-%}

{# comment.livere.DATA_UID #}
{%- set suka_comment_livere.DATA_UID = config.SUKA_COMMENT_LIVERE_DATA_UID
  if
    config.SUKA_COMMENT_LIVERE_DATA_UID is string
  else
    None
-%}

{# comment.valine.GUEST_INFO #}
{%- set suka_comment_valine.GUEST_INFO = config.SUKA_COMMENT_VALINE_GUEST_INFO
  if
    config.SUKA_COMMENT_VALINE_GUEST_INFO is string
  else
    None
-%}

{# comment.valine.LEANCLOUD_APPID #}
{%- set suka_comment_valine.LEANCLOUD_APPID = config.SUKA_COMMENT_VALINE_LEANCLOUD_APPID
  if
    config.SUKA_COMMENT_VALINE_LEANCLOUD_APPID is string
  else
    None
-%}

{# comment.valine.LEANCLOUD_APPKEY #}
{%- set suka_comment_valine.LEANCLOUD_APPKEY = config.SUKA_COMMENT_VALINE_LEANCLOUD_APPKEY
  if
    config.SUKA_COMMENT_VALINE_LEANCLOUD_APPKEY is string
  else
    None
-%}

{# comment.valine.PLACEHOLDER #}
{%- set suka_comment_valine.PLACEHOLDER = config.SUKA_COMMENT_VALINE_PLACEHOLDER
  if
    config.SUKA_COMMENT_VALINE_PLACEHOLDER is string
  else
    None
-%}

{# comment.valine.PAGE_SIZE #}
{%- set suka_comment_valine.PAGE_SIZE = config.SUKA_COMMENT_VALINE_PAGE_SIZE
  if
    config.SUKA_COMMENT_VALINE_PAGE_SIZE is string
  else
    None
-%}

{# comment.valine.AVATAR #}
{%- set suka_comment_valine.AVATAR = config.SUKA_COMMENT_VALINE_AVATAR
  if
    config.SUKA_COMMENT_VALINE_AVATAR is string
  else
    None
-%}

{# comment.valine.LANG #}
{%- set suka_comment_valine.LANG = config.SUKA_COMMENT_VALINE_LANG
  if
    config.SUKA_COMMENT_VALINE_LANG is string
  else
    None
-%}

{# comment.VALINE_NOTIFY #}
{%- set suka_comment.VALINE_NOTIFY = True
  if
    config.SUKA_COMMENT_VALINE_NOTIFY
  else
    False
-%}

{# comment.VALINE_VERIFY #}
{%- set suka_comment.VALINE_VERIFY = True
  if
    config.SUKA_COMMENT_VALINE_VERIFY
  else
    False
-%}

{# POST_ENTRY_EXCERPT #}
{%- set suka_config.POST_ENTRY_EXCERPT = config.SUKA_POST_ENTRY_EXCERPT
  if
    config.SUKA_POST_ENTRY_EXCERPT is number
  else
    120
-%}

{# AVATAR #}
{%- set suka_config.AVATAR = url_for('static', filename=config.SUKA_AVATAR)
  if
    config.SUKA_AVATAR is string
  else
    url_for('static', filename='/static/img/default_avatar.png')
-%}

{# DATE_FORMAT #}
{%- set suka_config.DATE_FORMAT = config.SUKA_DATE_FORMAT
  if
    config.SUKA_DATE_FORMAT is string
  else
    '%Y-%m-%d'
-%}

{# uiux.SLOGAN #}
{%- set suka_uiux.SLOGAN = config.SUKA_UIUX_SLOGAN
  if
    config.SUKA_UIUX_SLOGAN is iterable
  else
    ''
-%}

{# uiux.BG_COLOR #}
{%- set suka_uiux.BG_COLOR = config.SUKA_UIUX_BG_COLOR
  if
    config.SUKA_UIUX_BG_COLOR is string
  else
    None
-%}

{# uiux.LINK_COLOR #}
{%- set suka_uiux.LINK_COLOR = config.SUKA_UIUX_LINK_COLOR
  if
    config.SUKA_UIUX_LINK_COLOR is string
  else
    None
-%}

{# uiux.PRIMARY_COLOR #}
{%- set suka_uiux.PRIMARY_COLOR = config.SUKA_UIUX_PRIMARY_COLOR
  if
    config.SUKA_UIUX_PRIMARY_COLOR is string
  else
    None
-%}

{# busuanzi.ENABLE #}
{%- set suka_busuanzi.ENABLE = True
  if
    config.SUKA_BUSUANZI_ENABLE
  else
    False
-%}

{# busuanzi.post_pv.ENABLE #}
{%- set suka_busuanzi_post_pv.ENABLE = True
  if
    config.SUKA_BUSUANZI_POST_PV_ENABLE
  else
    False
-%}

{# busuanzi.post_pv.AFTER #}
{%- set suka_busuanzi_post_pv.AFTER = config.SUKA_BUSUANZI_POST_PV_AFTER
  if
    config.SUKA_BUSUANZI_POST_PV_AFTER is string
  else
    None
-%}

{# busuanzi.post_pv.BEFORE #}
{%- set suka_busuanzi_post_pv.BEFORE = config.SUKA_BUSUANZI_POST_PV_BEFORE
  if
    config.SUKA_BUSUANZI_POST_PV_BEFORE is string
  else
    None
-%}

{# busuanzi.site_pv.ENABLE #}
{%- set suka_busuanzi_site_pv.ENABLE = True
  if
    config.SUKA_BUSUANZI_SITE_PV_ENABLE
  else
    False
-%}

{# busuanzi.site_pv.BEFORE #}
{%- set suka_busuanzi_site_pv.BEFORE = config.SUKA_BUSUANZI_SITE_PV_BEFORE
  if
    config.SUKA_BUSUANZI_SITE_PV_BEFORE is string
  else
    None
-%}

{# busuanzi.site_pv.AFTER #}
{%- set suka_busuanzi_site_pv.AFTER = config.SUKA_BUSUANZI_SITE_PV_AFTER
  if
    config.SUKA_BUSUANZI_SITE_PV_AFTER is string
  else
    None
-%}

{# busuanzi.site_pv.DIVIDER #}
{%- set suka_busuanzi_site_pv.DIVIDER = config.SUKA_BUSUANZI_SITE_PV_DIVIDER
  if
    config.SUKA_BUSUANZI_SITE_PV_DIVIDER is string
  else
    None
-%}

{# busuanzi.site_pv.OFFSET #}
{%- set suka_busuanzi_site_pv.OFFSET = config.SUKA_BUSUANZI_SITE_PV_OFFSET
  if
    config.SUKA_BUSUANZI_SITE_PV_OFFSET is number
  else
    0
-%}

{# busuanzi.site_uv.ENABLE #}
{%- set suka_busuanzi_site_uv.ENABLE = True
  if
    config.SUKA_BUSUANZI_SITE_UV_ENABLE
  else
    False
-%}

{# busuanzi.site_uv.BEFORE #}
{%- set suka_busuanzi_site_uv.BEFORE = config.SUKA_BUSUANZI_SITE_UV_BEFORE
  if
    config.SUKA_BUSUANZI_SITE_UV_BEFORE is string
  else
    None
-%}

{# busuanzi.site_uv.AFTER #}
{%- set suka_busuanzi_site_uv.AFTER = config.SUKA_BUSUANZI_SITE_UV_AFTER
  if
    config.SUKA_BUSUANZI_SITE_UV_AFTER is string
  else
    None
-%}

{# busuanzi.site_uv.DIVIDER #}
{%- set suka_busuanzi_site_uv.DIVIDER = config.SUKA_BUSUANZI_SITE_UV_DIVIDER
  if
    config.SUKA_BUSUANZI_SITE_UV_DIVIDER is string
  else
    None
-%}

{# busuanzi.site_uv.OFFSET #}
{%- set suka_busuanzi_site_uv.OFFSET = config.SUKA_BUSUANZI_SITE_UV_OFFSET
  if
    config.SUKA_BUSUANZI_SITE_UV_OFFSET is number
  else
    0
-%}

 {# hanabi.ENABLE #}
{%- set suka_hanabi.ENABLE = config.SUKA_HANABI_ENABLE
  if
    config.SUKA_HANABI_ENABLE
  else
    False
-%}

{# analytics.BAIDU_SITE_ID #}
{%- set suka_analytics.BAIDU_SITE_ID = config.SUKA_ANALYTICS_BAIDU_SITE_ID
  if
    config.SUKA_ANALYTICS_BAIDU_SITE_ID is string
  else
    None
-%}

{# analytics.GOOGLE_SITE_ID #}
{%- set suka_analytics.GOOGLE_SITE_ID = config.SUKA_ANALYTICS_GOOGLE_SITE_ID
  if
    config.SUKA_ANALYTICS_GOOGLE_SITE_ID is string
  else
    None
-%}

{# analytics.GTAGS_SITE_ID #}
{%- set suka_analytics.GTAGS_SITE_ID = config.SUKA_ANALYTICS_GTAGS_SITE_ID
  if
    config.SUKA_ANALYTICS_GTAGS_SITE_ID is string
  else
    None
-%}

{# analytics.CNZZ_SITE_ID #}
{%- set suka_analytics.CNZZ_SITE_ID = config.SUKA_ANALYTICS_CNZZ_SITE_ID
  if
    config.SUKA_ANALYTICS_CNZZ_SITE_ID is string
  else
    None
-%}

{# analytics.TENCENT_SITE_ID #}
{%- set suka_analytics.TENCENT_SITE_ID = config.SUKA_ANALYTICS_TENCENT_SITE_ID
  if
    config.SUKA_ANALYTICS_TENCENT_SITE_ID is string
  else
    None
-%}

{# analytics.TENCENT_MTA_ID #}
{%- set suka_analytics.TENCENT_MTA_ID = config.SUKA_ANALYTICS_TENCENT_MTA_ID
  if
    config.SUKA_ANALYTICS_TENCENT_MTA_ID is string
  else
    None
-%}

{# head.site_verification.GOOGLE #}
{%- set suka_head_site_verification.GOOGLE = config.SUKA_HEAD_SITE_VERIFICATION_GOOGLE
  if
    config.SUKA_HEAD_SITE_VERIFICATION_GOOGLE is string
  else
    None
-%}

{# head.site_verification.BAIDU #}
{%- set suka_head_site_verification.BAIDU = config.SUKA_HEAD_SITE_VERIFICATION_BAIDU
  if
    config.SUKA_HEAD_SITE_VERIFICATION_BAIDU is string
  else
    None
-%}

{# head.COLOR #}
{%- set suka_head.COLOR = config.SUKA_HEAD_COLOR
  if
    config.SUKA_HEAD_COLOR is string
  else
    None
-%}

{# head.PWA_MANIFEST #}
{%- set suka_head.PWA_MANIFEST = config.SUKA_HEAD_PWA_MANIFEST
  if
    config.SUKA_HEAD_PWA_MANIFEST is string
  else
    None
-%}

{# head.OPEN_SEARCH #}
{%- set suka_head.OPEN_SEARCH = config.SUKA_HEAD_OPEN_SEARCH
  if
    config.SUKA_HEAD_OPEN_SEARCH is string
  else
    None
-%}

{# head.favicon.LARGE #}
{%- set suka_head_favicon.LARGE = config.SUKA_HEAD_FAVICON_LARGE
  if
    config.SUKA_HEAD_FAVICON_LARGE is string
  else
    None
-%}

{# head.favicon.APPLE_TOUCH_ICON #}
{%- set suka_head_favicon.APPLE_TOUCH_ICON = config.SUKA_HEAD_FAVICON_APPLE_TOUCH_ICON
  if
    config.SUKA_HEAD_FAVICON_APPLE_TOUCH_ICON is string
  else
    None
-%}

{# head.favicon.MEDIUM #}
{%- set suka_head_favicon.MEDIUM = config.SUKA_HEAD_FAVICON_MEDIUM
  if
    config.SUKA_HEAD_FAVICON_MEDIUM is string
  else
    None
-%}

{# head.favicon.SMALL #}
{%- set suka_head_favicon.SMALL = config.SUKA_HEAD_FAVICON_SMALL
  if
    config.SUKA_HEAD_FAVICON_SMALL is string
  else
    None
-%}

{# head.favicon.ICO #}
{%- set suka_head_favicon.ICO = config.SUKA_HEAD_FAVICON_ICO
  if
    config.SUKA_HEAD_FAVICON_ICO is string
  else
    None
-%}

{# vendors.BUSUANZI #}
{%- set suka_vendors.BUSUANZI = config.SUKA_VENDORS_BUSUANZI
  if
    config.SUKA_VENDORS_BUSUANZI is string
  else
    'https://cdn.jsdelivr.net/npm/busuanzi@2.3.0/bsz.pure.mini.js'
-%}

{# vendors.HANABI #}
{%- set suka_vendors.HANABI = config.SUKA_VENDORS_HANABI
  if
    config.SUKA_VENDORS_HANABI is string
  else
    url_for('static', filename='lib/hanabi/hanabi.min.js')
-%}

{# vendors.suka.HANABI_BROWSER_JS #}
{%- set suka_vendors_suka.HANABI_BROWSER_JS = config.SUKA_VENDORS_SUKA_HANABI_BROWSER_JS
  if
    config.SUKA_VENDORS_SUKA_HANABI_BROWSER_JS is string
  else
    url_for('static', filename='js/hanabi-browser.min.js')
-%}

{# vendors.suka.GALLERY_JS #}
{%- set suka_vendors_suka.GALLERY_JS = config.SUKA_VENDORS_SUKA_GALLERY_JS
  if
    config.SUKA_VENDORS_SUKA_GALLERY_JS is string
  else
    url_for('static', filename='js/gallery.min.js')
-%}

{# vendors.LAZYLOAD #}
{%- set suka_vendors.LAZYLOAD = config.SUKA_VENDORS_LAZYLOAD
  if
    config.SUKA_VENDORS_LAZYLOAD is string
  else
    url_for('static', filename='lib/vanilla-lazyload/lazyload.min.js')
-%}

{# vendors.PRETTIFY #}
{%- set suka_vendors.PRETTIFY = config.SUKA_VENDORS_PRETTIFY
  if
    config.SUKA_VENDORS_PRETTIFY is string
  else
    url_for('static', filename='lib/prettify/prettify.js')
-%}

{# search.USE #}
{%- set suka_search.USE = config.SUKA_SEARCH_USE
  if
    config.SUKA_SEARCH_USE in SUPPORTED_SEARCH
  else
    'local'
-%}

{# nav.search.LINK #}
{%- set suka_nav_search.LINK = config.SUKA_NAV_SEARCH_LINK
  if
    config.SUKA_NAV_SEARCH_LINK is string
  else
    url_for('.search')
  if
    suka_search.USE == 'local'
  else
    None
-%}

{# nav.home.USE #}
{%- set suka_nav_home.USE = False
  if
    config.SUKA_NAV_HOME_USE == False
  else
    True
-%}

{# nav.archives.USE #}
{%- set suka_nav_archives.USE = False
  if
    config.SUKA_NAV_ARCHIVES_USE == False
  else
    True
-%}

{# nav.search.USE #}
{%- set suka_nav_search.USE = False
  if
    config.SUKA_NAV_SEARCH_USE == False
  else
    True
-%}

{# nav.share.USE #}
{%- set suka_nav_share.USE = False
  if
    config.SUKA_NAV_SHARE_USE == False
  else
    True
-%}

{# nav.rss.USE #}
{%- set suka_nav_rss.USE = False
  if
    config.SUKA_NAV_RSS_USE == False
  else
    True
-%}

{# nav.PAGES #}
{%- set suka_nav.PAGES = config.SUKA_NAV_PAGES
  if
    config.SUKA_NAV_PAGES is iterable and config.SUKA_NAV_PAGES is not string
  else
    []
-%}

{# sns_share.WEIBO #}
{%- set suka_sns_share.WEIBO = False
  if
    config.SUKA_SNS_SHARE_WEIBO == False
  else
    True
-%}

{# sns_share.TWITTER #}
{%- set suka_sns_share.TWITTER = False
  if
    config.SUKA_SNS_SHARE_TWITTER == False
  else
    True
-%}

{# sns_share.FACEBOOK #}
{%- set suka_sns_share.FACEBOOK = False
  if
    config.SUKA_SNS_SHARE_FACEBOOK == False
  else
    True
-%}

{# sns_share.GOOGLEPLUS #}
{%- set suka_sns_share.GOOGLEPLUS = False
  if
    config.SUKA_SNS_SHARE_GOOGLEPLUS == False
  else
    True
-%}

{# sns_share.LINKEDIN #}
{%- set suka_sns_share.LINKEDIN = False
  if
    config.SUKA_SNS_SHARE_LINKEDIN == False
  else
    True
-%}

{# sns_share.QQ #}
{%- set suka_sns_share.QQ = False
  if
    config.SUKA_SNS_SHARE_QQ == False
  else
    True
-%}

{# sns_share.TELEGRAM #}
{%- set suka_sns_share.TELEGRAM = False
  if
    config.SUKA_SNS_SHARE_TELEGRAM == False
  else
    True
-%}

{# qrcode.POST_SHARE #}
{%- set suka_qrcode.POST_SHARE = False
  if
    config.SUKA_QRCODE_POST_SHARE == False
  else
    True
-%}

{# valine_counter.ENABLE #}
{%- set suka_valine_counter.ENABLE = True
  if
    config.SUKA_QRCODE_POST_SHARE == True
  else
    False
-%}

{# valine_counter.index_post_pv.ENABLE #}
{%- set suka_valine_counter_index_post_pv.ENABLE = True
  if
    config.SUKA_VALINE_COUNTER_INDEX_POST_PV_ENABLE == True
  else
    False
-%}

{# valine_counter.index_post_pv.BEFORE #}
{%- set suka_valine_counter_index_post_pv.BEFORE = config.SUKA_VALINE_COUNTER_INDEX_POST_PV_BEFORE
  if
    config.SUKA_VALINE_COUNTER_INDEX_POST_PV_BEFORE is string
  else
    None
-%}

{# valine_counter.index_post_pv.AFTER #}
{%- set suka_valine_counter_index_post_pv.AFTER = config.SUKA_VALINE_COUNTER_INDEX_POST_PV_AFTER
  if
    config.SUKA_VALINE_COUNTER_INDEX_POST_PV_AFTER is string
  else
    None
-%}

{# valine_counter.post_pv.ENABLE #}
{%- set suka_valine_counter_post_pv.ENABLE = True
  if
    config.SUKA_VALINE_COUNTER_POST_PV_ENABLE == True
  else
    False
-%}

{# valine_counter.post_pv.BEFORE #}
{%- set suka_valine_counter_post_pv.BEFORE = config.SUKA_VALINE_COUNTER_POST_PV_BEFORE
  if
    config.SUKA_VALINE_COUNTER_POST_PV_BEFORE is string
  else
    None
-%}

{# valine_counter.post_pv.AFTER #}
{%- set suka_valine_counter_post_pv.AFTER = config.SUKA_VALINE_COUNTER_POST_PV_AFTER
  if
    config.SUKA_VALINE_COUNTER_POST_PV_AFTER is string
  else
    None
-%}

{# valine_counter.site_pv.ENABLE #}
{%- set suka_valine_counter_site_pv.ENABLE = True
  if
    config.SUKA_VALINE_COUNTER_SITE_PV_ENABLE == True
  else
    False
-%}

{# valine_counter.site_pv.BEFORE #}
{%- set suka_valine_counter_site_pv.BEFORE = config.SUKA_VALINE_COUNTER_SITE_PV_BEFORE
  if
    config.SUKA_VALINE_COUNTER_SITE_PV_BEFORE is string
  else
    None
-%}

{# valine_counter.site_pv.AFTER #}
{%- set suka_valine_counter_site_pv.AFTER = config.SUKA_VALINE_COUNTER_SITE_PV_AFTER
  if
    config.SUKA_VALINE_COUNTER_SITE_PV_AFTER is string
  else
    None
-%}

{# footer.CUSTOM_TEXT #}
{%- set suka_footer.CUSTOM_TEXT = config.SUKA_FOOTER_CUSTOM_TEXT
  if
    config.SUKA_FOOTER_CUSTOM_TEXT is iterable
  else
    None
-%}

{# footer.COPYRIGHT_SINCE #}
{%- set suka_footer.COPYRIGHT_SINCE = config.SUKA_FOOTER_COPYRIGHT_SINCE
  if
    config.SUKA_FOOTER_COPYRIGHT_SINCE is number
  else
    0
-%}

{# prettify.ENABLE #}
{%- set suka_prettify.ENABLE = True
  if
    config.SUKA_PRETTIFY_ENABLE
  else
    False
-%}

{# post.SHARE #}
{%- set suka_post.SHARE = False
  if
    config.SUKA_POST_SHARE == False
  else
    True
-%}

{# post.LICENSE #}
{%- set suka_post.LICENSE = config.SUKA_POST_LICENSE
  if
    config.SUKA_POST_LICENSE is string
  else
    None
-%}

{# post.EXPIRE #} {# unit: days #}
{%- set suka_post.EXPIRE = config.SUKA_POST_EXPIRE
  if
    config.SUKA_POST_EXPIRE is number
  else
    None
-%}
