{%- from 'helpers/url.html' import full_url_for with context -%}

{%- macro suka_thumb(entity) -%}
{{
  entity.meta.thumbnail
  if
    entity and entity.meta and entity.meta.thumbnail and entity.meta.thumbnail.startswith('http')
  else
    url_for('static', filename=entity.meta.thumbnail)
  if
    entity and entity.meta and entity.meta.thumbnail
  else
    entry.meta.thumbnail
  if
    entry and entry.meta and entry.meta.thumbnail and entry.meta.thumbnail.startswith('http')
  else
    url_for('static', filename=entry.meta.thumbnail)
  if
    entry and entry.meta and entry.meta.thumbnail
  else
    ''
}}
{%- endmacro -%}

{# {%- macro spoiler_alert(entry) %}{%- endmacro %} #}