{%- set dict.home = 'Home' -%}
{%- set dict.archive = 'Archive' -%}
{%- set dict.tag = 'Tag' -%}
{%- set dict.category = 'Category' -%}

{# SEARCH #}
{%- set dict.search_main = 'Search' -%}
{%- set dict.search_placeholder = 'Please enter a keyword' -%}

{# POST #}
{%- set dict.post_continue = 'Read more' -%}

{# SHARE #}
{%- set dict.share_share = 'Share' -%}
{%- set dict.share_toweibo = 'Share to Weibo' -%}
{%- set dict.share_totwitter = 'Share to Twitter' -%}
{%- set dict.share_tofacebook = 'Share to FaceBook' -%}
{%- set dict.share_togplus = 'Share to Google+' -%}
{%- set dict.share_tolinkedin = 'Share to LinkedIn' -%}
{%- set dict.share_toqq = 'Share to QQ' -%}
{%- set dict.share_totelegram = 'Share to Telegram' -%}

{# NAV #}
{%- set dict.nav_prev_page = 'Previous' -%}
{%- set dict.nav_next_page = 'Next' -%}
