{%- set dict.home = '首頁' -%}
{%- set dict.archive = '歸檔' -%}
{%- set dict.tag = '標籤' -%}
{%- set dict.category = '分類' -%}

{# SEARCH #}
{%- set dict.search_main = '搜尋' -%}
{%- set dict.search_placeholder = '請輸入關鍵字' -%}
{%- set dict.search_num = '%s 個搜尋結果' -%}
{%- set dict.search_trygoogle = '你可以嘗試使用 Google 搜尋' -%}
{%- set dict.search_noresult = '找不到結果。試試其他關鍵字?' -%}

{# POST #}
{%- set dict.post_continue = '閱讀更多' -%}
{%- set dict.post_author = '作者' -%}
{%- set dict.post_permalink = '文章鏈結' -%}
{%- set dict.post_posted = '發布於' -%}
{%- set dict.post_edited = '更新於' -%}

{# SHARE #}
{%- set dict.share_share = '分享' -%}
{%- set dict.share_toweibo = '分享至微博' -%}
{%- set dict.share_totwitter = '分享至推特' -%}
{%- set dict.share_tofacebook = '分享至臉書' -%}
{%- set dict.share_togplus = '分享至 Google+' -%}
{%- set dict.share_tolinkedin = '分享至 LinkedIn' -%}
{%- set dict.share_toqq = '分享至 QQ' -%}
{%- set dict.share_totelegram = '分享至 Telegram' -%}
{%- set dict.share_post = '分享這篇文章' -%}

{# NAV #}
{%- set dict.nav_prev_page = '上一篇' -%}
{%- set dict.nav_next_page = '下一篇' -%}

{# COUNTER #}
{%- set dict.counter_archive = '共計 1 篇文章' -%}
{%- set dict.counter_archives = '共計 %d 篇文章' -%}
