{%- from 'helpers/suka_meta.html' import suka_thumb with context -%}

<div class="post-container">
  <div id="post-card" class="card">
    {%- if suka_thumb(entry) %}
      <!-- # Post Thumbnail # -->
      <div class="card-image" style="background-image: url('{{ suka_thumb(entry) }}');"></div>
    {%- endif %}
    <div class="card-item-container">
      <div class="card-inner-cell">
        <!-- # Post Header Info # -->
        <div class="card-header">
          {%- include '_partial/post/header-info.html' %}
        </div>
        <div class="card-body">
          {%- if config.SHOW_TOC and entry.toc_html %}
            <div id="post-toc">
              {{ entry.toc_html|safe }}
            </div>
          {%- endif %}
          <article id="post-content">
            {{ entry.content|safe }}
          </article>
          {%- include '_partial/post/footer-info.html' %}
        </div>
        {# <%- partial('_partial/post/footer-pagination') %> #}

        {# <% if(page.comments !== false) { %>
              <!-- # Comment # -->
              <% if (theme.comment.use) { %>
                  <div class="card-footer post-comment">
                      <%- partial('_plugin/comment/' + theme.comment.use + '/main') %>
                  </div>
              <% } %>
        <% } %> #}
      </div>
    </div>
  </div>
</div>