{%- from 'helpers/suka_config.html' import suka_config with context -%}
{%- from 'helpers/i18n.html' import i18n with context -%}

<div class="container search-container">
    <div class="main-container">
      <!-- # Title # -->
      <h2 class="page-title">{{ i18n('search.main') }}</h2>

      {%- if suka_config.search.USE == 'google' %}
        {%- include '_plugin/search/google/main.html' %}
      {%- endif %}

      {%- if suka_config.search.USE == 'local' %}
        {%- include '_plugin/search/local-search/main.html' %}
      {%- endif %}

      {%- if suka_config.search.USE == 'swiftype' %}
        {%- include '_plugin/search/swiftype/main.html' %}
      {%- endif %}

    </div>
</div>

{%- if suka_config.search.USE == 'google' %}
  {%- include '_plugin/search/google/common.html' %}
{%- endif %}

{%- if suka_config.search.USE == 'local' %}
  {%- include '_plugin/search/local-search/common.html' %}
{%- endif %}

{%- if suka_config.search.USE == 'swiftype' %}
  {%- include '_plugin/search/swiftype/common.html' %}
{%- endif %}
