{%- from 'helpers/here.html' import here with context -%}
{%- from 'helpers/suka_config.html' import suka_config with context -%}

<!DOCTYPE html>
<html {%- if site.language %} lang="{{ site.language }}" {%- endif %}>
<head>
  {% block head %}
    {% include '_partial/head/main.html' %}
    {% include ['custom/head.html', 'head.html'] ignore missing %}
  {% endblock %}
</head>
<body>
  {%- if here == 'page' and entry.layout == 'gallery' %}
    {%- block gallery %}
      {%- include '_page/gallery.html' %}
    {%- endblock %}
  {%- else %}
    {%- if suka_config.comment.USE == 'facebook' and here == 'post' %}
      <!-- Facebook SDK -->
      {%- include '_plugin/comment/facebook/common_head' %}
    {%- endif %}

    {%- block header %}
      {%- include ['custom/header.html', '_partial/header.html'] ignore missing %}
    {%- endblock %}

    {%- block body %}{% endblock %}

    {%- block footer %}
      {%- include ['custom/footer.html', '_partial/footer.html'] ignore missing %}
    {%- endblock %}
  {%- endif %}

  {%- block foot %}
    {%- include ['custom/foot.html', '_partial/source/footer.html'] ignore missing %}
  {%- endblock %}
</body>
</html>