{%- from 'helpers/post-excerpt.html' import excerpt %}
[
{%- for entry in entries -%}
  {%- set post_or_page = storage.get_post(entry.rel_url) or storage.get_page(entry.rel_url) %}
  {
    "title": "{{ entry.title }}",
    "date": "{{ entry.created.isoformat() }}",
    "url": "{{ entry.url }}",
    "tags": {{ entry.tags|tojson if entry.tags else '[]' }},
    "categories": {{ entry.categories|tojson if entry.categories else '[]' }},
    "content": "{{
      post_or_page.raw_content|replace('"', '\\"')|replace('\n', '') if post_or_page else ''
    }}"
  }{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
]