{%- from 'helpers/suka_config.html' import suka_config with context -%}
{%- from 'helpers/url.html' import home_url with context -%}
{%- from 'helpers/i18n.html' import i18n with context -%}

<nav class="navbar-section text-center">
  {%- if suka_config.nav.home.USE %}
    <a href="{{ home_url }}" class="navbar-link">{{ i18n('home') }}</a>
  {%- endif %}
  {%- if suka_config.nav.archives.USE %}
    <a href="{{ url_for('.archive') }}" class="navbar-link">{{ i18n('archive') }}</a>
  {%- endif %}
  {%- if not config.GENERATING_STATIC_PAGES and suka_config.nav.search.USE %}
    <a href="{{ suka_config.nav.search.LINK }}" class="navbar-link">{{ i18n('search.main') }}</a>
  {%- endif %}
  {%- for page in suka_config.nav.PAGES %}
    <a href="{{ page.link }}" class="navbar-link">{{ loop.index }}</a>
  {%- endfor %}
  {%- if suka_config.nav.share.USE %}
    {%- include '_partial/menu/index-share.html' %}
  {%- endif %}
  {%- if suka_config.nav.rss.USE %}
    <a href="{{ url_for('.feed') }}" target="_blank" class="navbar-link">RSS</a>
  {%- endif %}
</nav>