{%- from 'helpers/suka_meta.html' import suka_thumb with context -%}

<article class="post-entry container px-0 card">
  <div class="columns col-gapless">
    {%- if suka_thumb(post) %}
      <div class="column column-thumbnail col-4 col-lg-12">
        <a href="{{ post.url if not post.meta.solitude else suka_thumb(post) }}" {%- if post.meta.solitude %}target="_blank"{%- endif %}>
          <div class="post-thumbnail lazyload" data-src="{{ suka_thumb(post) }}"></div>
        </a>
      </div>
      <div class="column column-body col-8 col-lg-12">
        {%- include '_partial/post-entry-content.html' %}
      </div>
    {%- else %}
      <div class="column col-12">
        {%- include '_partial/post-entry-content.html' %}
      </div>
    {%- endif %}
  </div>
</article>
