{%- from 'helpers/suka_config.html' import suka_config with context %}
{%- from 'helpers/list_categories.html' import list_categories %}
{%- from 'helpers/post-excerpt.html' import excerpt, post_continue with context %}

{% if post.title|trim %}
    <h2 class="h5 mb-0 card-header">
        {%- if post.meta.solitude %}
        <div class="card-title">
            {{ post.title|trim }}
        </div>
        {%- else %}
        <a class="card-title" href="{{ post.url }}">
            {{ post.title|trim }}
        </a>
        {%- endif %}
    </h2>
{% endif %}

<p class="mb-0 card-body">
    {{ excerpt(post) }} {{ post_continue(post) }}
</p>


<!-- Date & Category -->
<div class="card-footer post-entry-info text-gray">
    {%- include '_partial/avatar.html' %}
    <time>{{ post.created.strftime(suka_config.DATE_FORMAT) }}</time>
    {%- if post.categories %}
        <span class="suka-devide-dot"></span>
        {{ list_categories(post.categories) }}
    {%- endif %}
    {%- if suka_config.valine_counter.ENABLE and suka_config.valine_counter.index_post_pv.ENABLE %}
        <span class="suka-devide-dot"></span>
        {%- include '_plugin/valine-counter/index_post.html' %}
    {%- endif %}
</div>
